@charset "utf-8";

div{}
ul.swiper-wrapper{width:100%; height:100%;}
li.swiper-slide{width:100%;/*1940px;*/ height:/*1043px*/100%;
				float:right;
				}
ul>li>img{vertical-align:top;
		width:100%}
.swiper-container {
    width: 100%;
    height:/*1043px*/100%;
	margin:10px 0 auto;
	overflow:hidden;	

}